.expImg{
    width: 40%;
    height: 660px;
    margin-top: 140px;
    float:left;
    object-fit: cover;
}
.expImg img{
    width: 80%;
    margin-left: 70px;
}
.expDetail{
    width: 60%;
    height: 800px;
    float: right;

    
}

.expDetail p{
font-weight: bold;
font-size: 3.25rem;
color: #1F3F7A;
margin-left: 600px;

}
.experiences{
    margin: 20px 0 20px 170px ;
}
.experience{
    width: 700px;
    height: 130px;
    background-color: #9FA5D7;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #1F3F7A;
}
.expLogo{
    float: left;
    width: 70px;
    height: 100%;
    border-radius: 20px;
    background-color: black;
}
.experienceDetail{
    float: left;
    margin-left: 10px;
}
.experienceInfo{
    margin: -8px 10px;
}